.main_content
	#juicerecipe_top.row
		.col-md-4
			= image_tag @juicerecipe.image.url(:medium), class: "juice_image"
		.col-md-8
			#juicerecipe_info
				%h1= @juicerecipe.title
				%p.description= @juicerecipe.description
				%p
					Submitted by
					= @juicerecipe.user.email

	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @juicerecipe.ingredients.each do |ingredient|
						%li= ingredient.name

		.col-md-6
			#directions
				%h2 Directions
				%ul
					- @juicerecipe.directions.each do |direction|
						%li= direction.step

	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default"
			- if user_signed_in?
				= link_to "Edit", edit_juicerecipe_path, class: "btn btn-default"
				= link_to "Delete", juicerecipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"



